.row{
    display: flex;
    flex-direction: row;
}
.header{
    margin-top: 35px;
}


 .column-center{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
 }
 
 .row-center{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
 }
.start{justify-content: flex-start !important}


.index-description{
    margin: 90px 0;
}
.spread{
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.showbiz-description{
    font-size: 1.5rem;
    line-height: 250%;
    text-align: center;
}
.product-search-category .input-field{

	margin: 0 !important;
	display: flex;
	flex-direction: row-reverse;
}
.select-wrapper{
	display: flex;
	flex-direction: row-reverse;
}
.dropdown-content.select-dropdown{
	right: 0 !important;
	padding: 0!important;
}

.dropdown-content.select-dropdown li span{

    display: inline-block !important;
    float: right !important;
}
.select-wrapper .caret{
	right: inherit !important;
}