.row{
    display: flex;
    flex-direction: row;
}
.header{
    margin-top: 35px;
}


 .column-center{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
 }
 
 .row-center{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
 }
.start{justify-content: flex-start !important}


.index-description{
    margin: 90px 0;
}
.spread{
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.showbiz-description{
    font-size: 1.5rem;
    line-height: 250%;
    text-align: center;
}
